body {
  margin: 0 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
}
.position,
.voters {
  color: black;
  background-color: #ededed;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.topnav {
  display: inline-block;
  width: 98vw;
  height: 20%;
  background-color: #dbbcd2;
  padding: 12.5px 0 12.5px 0;
  margin: 0 0 0 0;
}
h1,
h3 {
  margin: 0 0 0 0;
}
.img {
  height: 10vh;
}

li {
  margin: 0 0 0 0;
  padding: 10px;
  list-style-type: none;
  text-align: center;
}

li:hover {
  background-color: white;
}
ul {
  padding: 0 0 0 0;
}

.tally {
  background-color: #ededed;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hgraph {
  background-color: #ededed;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.adminname {
  float: right;
  margin: 35px 30px 0 0;
}
.adminlogo {
  float: right;
  background-color: black;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  margin: 15px 30px 0 0;
}
a {
  text-decoration: none;
  color: white;
}
.act {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  background-color: white;
  border: 10px solid white;
}
.actbtn {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  background-color: transparent;
  border: none;
}
.vgraph {
  background-color: #ededed;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
