html {
  font-size: 1rem;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
p {
  margin-bottom: 0;
}
.webname {
  font-size: 0.72rem;
}
.icon {
  width: 15vw;
}
.top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 0 20px 0;
  background-image: linear-gradient(247.23deg, #a229a5 -2.25%, #eb3737 104.04%);
  color: white;
  column-gap: 1.5rem;
  z-index: 2;
}
.schoolname {
  font-weight: bolder;
}
.webname,
.schoolname {
  margin-top: 0;
  margin-bottom: 0;
}
.col-5 {
  background-color: #eedee3;
}
